.bookmark-background {
  background-image: url('/assets/bookmark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 30px;
}