  .title {
    font-family: cursive;
  }
  
  .sub-title {
    font-family: serif;
  }
  
  .cover {
    height: 100%;
    width: 100%;
    display: table;
    background-image: url(/assets/top.jpg);
    background-size: 100% 100%;
  }
  
  .text-center {
    display: table-cell;
    vertical-align: middle;
  }